<a href="https://colab.research.google.com/github/hannah-o-rourke/grant-evaluation/blob/main/Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [7]:
url = 'https://raw.githubusercontent.com/hannah-o-rourke/grant-evaluation/main/variables.csv'

In [8]:
df1 = pd.read_csv(url)

In [9]:
df1.shape

(38, 13)

In [10]:
df1.head

<bound method NDFrame.head of     Number  ... Last Worked On
0        3  ...             NaN
1        4  ...             NaN
2        6  ...             NaN
3        7  ...             NaN
4       12  ...             NaN
5       20  ...             NaN
6       23  ...             NaN
7       25  ...             NaN
8       26  ...             NaN
9       38  ...             NaN
10      49  ...             NaN
11      52  ...             NaN
12      55  ...             NaN
13      60  ...             NaN
14      71  ...             NaN
15      78  ...             NaN
16      82  ...             NaN
17      87  ...             NaN
18      98  ...             NaN
19     102  ...             NaN
20     104  ...             NaN
21     108  ...             NaN
22     119  ...             NaN
23     123  ...             NaN
24     126  ...             NaN
25     130  ...             NaN
26     134  ...             NaN
27     138  ...             NaN
28     142  ...             NaN
29     145  ...             NaN
30     146  ...             NaN
31     156  ...             NaN
32     158  ...             NaN
33     161  ...             NaN
34     190  ...             NaN
35     193  ...             NaN
36     194  ...             NaN
37     195  ...             NaN

[38 rows x 13 columns]>